.background-option{
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    border: 1px black solid;
    margin: 0 auto;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
}

.background-option__key{
    box-sizing: border-box;
    width: 33.33%;
    height: 100px;
    border: 1px black solid;

}

.buttons{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    width: 150px;
    border-radius: 15%;
    /* border: 1px black solid; */
    background-color: lightgrey;
    color:peru;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.background-option__key--color--steelblue{
    background-color: steelblue ;
}

.background-option__key--color--brown{
    background-color: brown ;
}

.background-option__key--color--coral{
    background-color: coral ;
}

.background-option__key--color--darkseagreen{
    background-color: darkseagreen ;
}

.background-option__key--color--green{
    background-color: green ;
}

.background-option__key--color--red{
    background-color: red ;
}

.background-option__key--color--blue{
    background-color: blue ;
}

.background-option__key--color--blueviolet{
    background-color: blueviolet ;
}

.background-option__key--color--yellow{
    background-color: yellow ;
}



.background-option__key--image--first{
    background-image: url("https://img.wallpapic.com.ua/i2926-721-55/medium/voda-priroda-hvili-more-shpalery.jpg");
    background-size: cover;
}

.background-option__key--image--second{
    background-image: url("https://i.pinimg.com/564x/6f/da/b8/6fdab8292c720b064414dc3f6037b130.jpg");
    background-size: cover;
}

.background-option__key--image--third{
    background-image: url("https://www.teahub.io/photos/full/38-383275_-.jpg");
    background-size: cover;
}

.background-option__key--image--fourth{
    background-image: url("https://i.pinimg.com/564x/54/8d/9c/548d9c504285cb33a0d88c143273e333.jpg");
    background-size: cover;
}

.background-option__key--image--fifth{
    background-image: url("https://webmandry.com.ua/wp-content/uploads/2018/12/novogodnie-oboi-2019-11.jpg");
    background-size: cover;
}

.background-option__key--image--sixth{
    background-size: cover;
    background-image: url("https://wallpapers-fenix.eu/full/180624/000020532.jpg");
}

.background-option__key--image--seventh{
    background-image: url("https://torange.biz/photo/36/HD/desktop-wallpaper-36485.jpg");
    background-size: cover;
}

.background-option__key--image--eighth{
    background-image: url("https://torange.biz/photo/38/HD/desktop-wallpaper-screensaver-spring-38322.jpg");
    background-size: cover;
}

.background-option__key--image--ninth{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeAGSWFMxJGHIIZ2vHzoYlgsXeWVxNrOomTg&usqp=CAU");
    background-size: cover;
}
