div{
    display: inline-block;
    box-sizing: content-box;
    margin: 10px;
    padding: 5px;
    border-width: 1px;
    width: 100px;
    max-width: 80px;
    background-color: aqua;
    visibility: hidden;
}