*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 70%;
    margin: 0 auto;
}

.first, .second, .criate-list, .criate-table, .edit-block, .style-block{
    display: none;
}

.count-list{
    width: 50%;
    margin-top: 10px;
    height: 22px;
    border: grey;
    border-radius: 1%;
}

.type-list{
    margin-top: 10px;
    width: 50%;
    height: 22px;
    border: grey;
    border-radius: 1%;
}

.btn-create-list{
    margin-top: 10px;
    width: 60px;
    height: 30px;
    background-color: #fcae12;
    border: none;
    border-radius: 5%;
}



.block{
    width: 100%;
    min-height: 250px;
    border-radius: 5px;
    background-color: #f6f7f0;
    margin: 20px 0;
    padding: 20px;
    position: relative;
}

.center-block{
    width: 100%;
}

.center-block >div{
    width: 130px;
    height: 30px;
    margin: 0 auto;
}

.bottom-block{
    background: linear-gradient(rgb(255, 255, 255), #f6f7f0);  
}

.edit-area{
    width: 100%;
    height: 200px;
    resize: none;
    border: blue;
}

.colors{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 80px;
    right: 20%;
    display: none;
    flex-wrap: wrap;
}

.form-text-style > div{
    margin: 5px 0px;
}

.form-text-style > div > label{
   margin-right: 10px;
}

.color-box{
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.table-label{
    width: 100%;
    display: block;
}

.criate-table{
    margin-top: 10px;
}

.count-tr-td_label, .width-tr-td_lable{
width: 20%;
height: 50px;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.table-input-text-long{
    width: 80%;
    margin-bottom: 10px;
    height: 22px;
    border: grey;
    border-radius: 1%;
}

#width-border{
    margin-left: 16px;
    height: 22px;
    border: grey;
    border-radius: 1%;
}

.select_border{
    border: gray;
}

.count{
    width: 30%;
    margin-top: 10px;
    height: 22px;
    border: grey;
    border-radius: 1%;
}

.wtc-table{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.count-tr-td, .width-tr-td{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

#create-table{
    margin-top: 10px;
    width: 95px;
    height: 30px;
    background-color: #1c9a05;
    border: none;
    border-radius: 5%;
    color: white;
}


.btn-edit{
    width: 60px;
    height: 30px;
    background-color: #fcae12;
    border: none;
    border-radius: 5%;
}

.btn-style{
    width: 60px;
    height: 30px;
    background-color: #128bfc;
    border: none;
    border-radius: 5%;
    color: white;
}

.form-size_checkbox{
    width: 100%;
    height: 30px;
    padding: 5px 0px;
    margin-bottom: 10px;
}

.form-size_checkbox > input{
    margin-left: 10px;
    border: none;
}

.font-family{
    width: 200px;
    height: 30px;
    margin: 5px 0px 10px;
    border: none;
    border-bottom: 2px lightgray solid;
}

.btn-text-color, .btn-bg-color{
    width: 150px;
    height: 40px;
    background-color: #5b5b5e;
    border: none;
    border-radius: 5%;
    color: white;
    font-weight: bold;
    margin: 5px 0px 10px; 
}

.btn-add{
    width: 60px;
    height: 30px;
    background-color: red;
    border: none;
    border-radius: 5%;
    color: white;
}

.btn-save{
    width: 60px;
    height: 30px;
    background-color: #27b504;
    border: none;
    border-radius: 5%;
    color: white;
}


.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.display-block{
    display: block;
}

.display-flex{
    display: flex;
}

.block >p, li {
    margin-bottom: 8px;
}