body {
    background-color: aqua;
}

.wrapper1-form, .wrapper2-form{
    width: 400px;
    height: 425px;
    background-color: white;
    margin: 0 auto;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.header1, .wrapper2-header2{
    width: 400px;
    height: 50px;
    background-color: yellowgreen;
    text-align: center;
    margin: 30px auto 0px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    margin: 0 auto;
    width: 80%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-text{
    margin: 5px 0px 10px 0px;
}

.radiobutton{
    margin-top: -10px;
}

#wrapper2-icon{
    width: 70px;
    height: 70px;
    margin: -30px auto 0px;
    border-radius: 50%;
    background-color: white;
    background-image: url(./icons/free-icon-businesswoman-180679.png);
    background-size: contain;
}

.wrapper2-form{
    height: 235px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.wrapper2-header2{
height: 100px;

}

.last-button{
    width: 50%;
    margin: 0 auto;
}

.wrapper2__p{
    text-align: center;
}


.footer{
    width: 400px;
    height: 60px;
    background-color: yellowgreen;
    text-align: center;
    margin: 0px auto 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}