.use-keyboard{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.use-keyboard-input{
    margin: 0 auto;
    width: 90%;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    /* border: none; */
    /* border-radius: 5%; */
    
}

.keyboard {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    background: #a4a5a5;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    user-select: none;
    transition: bottom 0.4s;
}

.keyboard--hidden {
    bottom: -100%;
}

.keyboard__keys {
    text-align: center;
}

.keyboard__key {
    height: 45px;
    width: 6%;
    max-width: 90px;
    margin: 3px;
    border-radius: 4px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    /* -webkit-tap-highlight-color: transparent; */
    position: relative;
}

.keyboard__key:active {
    background: rgba(0, 0, 0, 0.12);
}

.keyboard__key__active {
    background: rgba(0, 0, 0, 0.12);
}

.keyboard__key--wide{
    width: 12%;
}

.keyboard__key--extra-wide{
    width: 36%;
    max-width: 500px;
}

.keyboard__key--activatable::after {
    content: '';
    top: 10px;
    right: 10px;
    position: absolute;
    width: 8px;
    height: 8px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
}

.keyboard__key--active::after {
    background: #08ff00;
}

.keyboard__key--dark{
    background: rgba(0, 0, 0, 0.25);
}